In [1]:
import pandas as pd
import numpy as np
import pycmap
from datetime import datetime, timedelta
import pytz
import matplotlib.pyplot as plt
import os
import glob
import plotly.express as px

In [31]:
df = pd.read_csv('Gradients 4 - TN397 - Hyperpro Profiles.csv', usecols = ['kpar', 'flu', 'light_level', 'par_z', 'sal', 'dens', 'temp', 'time', 'lat', 'lon', 'depth'])
df['time'] = pd.DatetimeIndex(df.time.values)
df.dropna()
target_depth = df[df.depth < 15]
df1 = target_depth.groupby([pd.Grouper(key = 'time', freq = 'D'), 'depth']).agg({'par_z': 'mean',
                                                             'temp': 'mean',
                                                             'flu': 'mean',}).reset_index()
df1

                        time  depth    par_z    temp     flu
0  2021-11-24 00:00:00+00:00      2  784.990  23.590  0.0160
1  2021-11-24 00:00:00+00:00      3  661.740  23.590  0.0120
2  2021-11-24 00:00:00+00:00      4  658.540  23.590  0.0170
3  2021-11-24 00:00:00+00:00      5  573.840  23.590  0.0170
4  2021-11-24 00:00:00+00:00      6  543.820  23.590  0.0210
5  2021-11-24 00:00:00+00:00      7  549.560  23.590  0.0280
6  2021-11-24 00:00:00+00:00      8  560.930  23.590  0.0240
7  2021-11-24 00:00:00+00:00      9  619.350  23.590  0.0240
8  2021-11-24 00:00:00+00:00     10  751.840  23.590  0.0240
9  2021-11-24 00:00:00+00:00     11  675.450  23.590  0.0240
10 2021-11-24 00:00:00+00:00     12  540.600  23.590  0.0270
11 2021-11-24 00:00:00+00:00     13  461.250  23.590  0.0270
12 2021-11-24 00:00:00+00:00     14  454.160  23.590  0.0290
13 2021-11-28 00:00:00+00:00     12  274.880  26.620  0.0650
14 2021-11-28 00:00:00+00:00     13  266.260  26.620  0.0730
15 2021-11-28 00:00:00+00:00     14  257.830  26.620  0.0700
16 2021-12-01 00:00:00+00:00      5  195.810  25.630  0.1590
17 2021-12-01 00:00:00+00:00      6  178.890  25.630  0.1650
18 2021-12-01 00:00:00+00:00      7  173.230  25.640  0.1650
19 2021-12-01 00:00:00+00:00      8  163.850  25.610  0.1790
20 2021-12-01 00:00:00+00:00      9  154.730  25.590  0.2120
21 2021-12-01 00:00:00+00:00     10  256.750  25.590  0.2200
22 2021-12-01 00:00:00+00:00     11  239.800  25.585  0.2420
23 2021-12-01 00:00:00+00:00     12  228.350  25.580  0.2390
24 2021-12-01 00:00:00+00:00     13  215.065  25.580  0.2455
25 2021-12-01 00:00:00+00:00     14  204.680  25.570  0.2480
26 2021-12-04 00:00:00+00:00      7  709.650  24.410  0.2600
27 2021-12-04 00:00:00+00:00      8  690.560  24.400  0.2790
28 2021-12-04 00:00:00+00:00      9  610.990  24.405  0.2680
29 2021-12-04 00:00:00+00:00     10  574.925  24.380  0.2770
30 2021-12-04 00:00:00+00:00     11  511.300  24.360  0.2990
31 2021-12-04 00:00:00+00:00     12  471.140  24.350  0.3235
32 2021-12-04 00:00:00+00:00     13  443.300  24.340  0.3390
33 2021-12-04 00:00:00+00:00     14  413.075  24.330  0.3575
34 2021-12-06 00:00:00+00:00      5  432.025  25.830  0.2260
35 2021-12-06 00:00:00+00:00      6  398.970  25.830  0.2190
36 2021-12-06 00:00:00+00:00      7  371.200  25.830  0.2675
37 2021-12-06 00:00:00+00:00      8  352.325  25.830  0.2460
38 2021-12-06 00:00:00+00:00      9  331.345  25.830  0.2315
39 2021-12-06 00:00:00+00:00     10  310.845  25.830  0.2365
40 2021-12-06 00:00:00+00:00     11  290.145  25.830  0.2465
41 2021-12-06 00:00:00+00:00     12  272.225  25.830  0.2430
42 2021-12-06 00:00:00+00:00     13  257.170  25.830  0.2520
43 2021-12-06 00:00:00+00:00     14  238.600  25.830  0.2565

In [28]:
target_depth

,time,lat,lon,depth,temp,sal,dens,flu,par_z,light_level,kpar
172,2021-11-24 21:30:50+00:00,19.64,-138.62,2,23.59,35.45,1024.12,0.016,784.99,89.58,0.2
173,2021-11-24 21:30:53+00:00,19.64,-138.62,3,23.59,35.45,1024.12,0.012,661.74,75.52,0
174,2021-11-24 21:30:56+00:00,19.64,-138.62,4,23.59,35.46,1024.13,0.017,658.54,75.15,0.14
175,2021-11-24 21:30:59+00:00,19.64,-138.62,5,23.59,35.45,1024.12,0.017,573.84,65.49,0.15
176,2021-11-24 21:31:02+00:00,19.64,-138.62,6,23.59,35.47,1024.15,0.021,543.82,62.06,0.04
...,...,...,...,...,...,...,...,...,...,...,...
938,2021-12-06 21:21:18+00:00,-2.50,-140.00,10,25.83,35.64,1023.62,0.243,307.22,59.63,0.05
939,2021-12-06 21:21:25+00:00,-2.50,-140.00,11,25.83,35.64,1023.62,0.258,289.18,56.13,0.07
940,2021-12-06 21:21:30+00:00,-2.50,-140.00,12,25.83,35.63,1023.61,0.248,267.22,51.87,0.05
941,2021-12-06 21:21:34+00:00,-2.50,-140.00,13,25.83,35.65,1023.63,0.244,250.18,48.56,0.06
942,2021-12-06 21:21:40+00:00,-2.50,-140.00,14,25.83,35.63,1023.62,0.251,231.65,44.97,0.06