In [1]:
import pandas as pd
import numpy as np
import pycmap
from datetime import datetime, timedelta
import pytz
import matplotlib.pyplot as plt
import os
import glob

## Calling in Hyperpro surfae PAR

In [2]:
df = pd.read_csv('Gradients 4 - TN397 - Underway Hyperpro - Surface PAR.csv')

In [17]:
df

                           time        lat         lon  surface_par
0      2021-11-19T16:32:00.000Z  31.165718 -119.755471   261.039130
1      2021-11-19T16:33:00.000Z  31.163667 -119.758933   302.072143
2      2021-11-19T16:34:00.000Z  31.161601 -119.762415   334.165926
3      2021-11-19T16:35:00.000Z  31.159584 -119.765842   300.941852
4      2021-11-19T16:36:00.000Z  31.157534 -119.769285   300.182593
...                         ...        ...         ...          ...
34835  2021-12-13T21:07:00.000Z  14.906083 -152.971349  1298.340625
34836  2021-12-13T21:08:00.000Z  14.908998 -152.973812  1292.753636
34837  2021-12-13T21:09:00.000Z  14.911905 -152.976272  1292.897273
34838  2021-12-13T21:10:00.000Z  14.914838 -152.978767  1294.515938
34839  2021-12-13T21:11:00.000Z  14.917729 -152.981193  1295.870667

[34840 rows x 4 columns]

## Reading in g4 licor txt files

In [4]:
# Folder Path
path = '/Users/ceg/Desktop/kristine/SACNAS-2023-project/G4_LICOR'
file_list = []  
# Change the directory
os.chdir(path)
  
# Read text File
 
def read_text_file(file_path):
    with open(file_path, 'r') as f:
        return(f.read())


# iterate through all file
for file in os.listdir():
    # Check whether file is in text format or not
    if file.endswith(".txt"):
        file_path = f"{path}/{file}"
  
        # call read text file function
        file_list.append(pd.read_table(file_path, header = None, on_bad_lines = 'skip'))

## Editing and refining g4 licor txt files into a dataframe

In [7]:
df1 = pd.concat(file_list, ignore_index = True)
df1.columns = ['del', 'datetime', 'mean_PAR', 'del1', 'del2', 'del3']
df1.drop(['del', 'del1', 'del2', 'del3'], axis=1, inplace = True)
df1['datetime'] = pd.DatetimeIndex(df1.datetime.values).tz_localize('UTC')

### pls fix index order its so messed up

In [26]:
df1.sort_values(by='datetime', inplace = True)
df1

                       datetime  mean_PAR
17494 2021-11-19 16:42:00+00:00    326.31
17495 2021-11-19 16:43:00+00:00    335.19
17496 2021-11-19 16:44:00+00:00    352.16
17497 2021-11-19 16:45:00+00:00    425.60
17498 2021-11-19 16:46:00+00:00    394.44
...                         ...       ...
22446 2021-12-13 21:08:00+00:00   1511.50
22447 2021-12-13 21:09:00+00:00   1540.50
22448 2021-12-13 21:10:00+00:00   1522.30
22449 2021-12-13 21:11:00+00:00   1520.70
22450 2021-12-13 21:12:00+00:00   1522.50

[28364 rows x 2 columns]

## Converting PAR from every minute to hourly timestamps
jesus help me I have no idea how to do it