In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.DataFrame({'Yes': [50,21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [4]:
pd.DataFrame({'Bob': ['goo', 'gaa', 'gae'], 'Sue': ['pe', 'pee', 'poo']})

   Bob  Sue
0  goo   pe
1  gaa  pee
2  gae  poo

In [6]:
pd.DataFrame({'Bob': ['goo', 'gaa', 'gae'], 'Sue': ['pe', 'pee', 'poo']}, index=['1st', '2nd', '3rd'])

     Bob  Sue
1st  goo   pe
2nd  gaa  pee
3rd  gae  poo

In [7]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
pd.Series(['10', '20', '30'], index=['type 1', 'type 2', 'type 3'], name = 'Days')

type 1    10
type 2    20
type 3    30
Name: Days, dtype: object